* {
	margin: 0;
}

html, body, .main {
	padding: 0px;
	/* min-height: 100%; */
}

.lbl{
	font-family:'Roboto', sans-serif;
	color:#701510;
	font-weight: bold;
}

.main {
	background-color: rgb(239, 238, 241);
	/* margin-left: -10px;
	margin-right: 10px;
	margin-top: -10px; */
}

#logo {
	display: flex;
	justify-content: center;
}

#menu {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(31, 31, 31);
	height: 50px;
	border-radius: 3px;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}

.menuitem {
	font-size: 1em;
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 0;
}

.menuitem a:visited {
	color: white;
	text-decoration: none;
}

.menuitem:hover {
	text-decoration: none;
	color: white;
	background-color: rgb(0, 0, 0);
}

.content {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 5em;
}

.content h1 {
	color:rgb(31, 31, 31);
	font-family: sans-serif;
	font-size: 40px;
}

@media (max-width: 600px) {
	#menu {   
	  flex-direction: column;
	  height: fit-content;
	}

	#menu a:hover {
		background-color: #000000;
	}
  }

footer {
	padding: 1em;
	background-color: rgb(31, 31, 31);
}

.logo-footer {
	width: 10vw;
	max-width: 150px;
	min-width: 100px;
}

.footer {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-end;
}

.social-media-icons {
	color: white;
}

.social {
	display: flex;
	justify-content: space-around;
	width: 25vw;
	list-style: none;
	padding: 0;
	margin: 1em;
}

.copyright {
	color: white;
	font-size: 0.8em;
	margin-top: 1em;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}