.form {
  padding: 1%;
}

label {
  font-size: 18px;
}


.carrinho {
  flex: 2;
  padding: 10px;
}

.conteudo2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  font-size: 16px;
}

input[type="number"] {
  font-size: 16px;
}

input:invalid {
  border: 1px solid red;
}

select {
  height: 25px;
  width: 215px;
  font-size: 16px;
}

option {
  font-size: 16px;
}

.Header {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #2F3841;
}

.Action {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;

}

.Action:hover {
  border-bottom: 1px solid #E44C4C;
}

.Action:active {
  border-bottom: 1px solid #a12121;
  color: #a12121;

}

.Cart-Container {
  width: 95%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  margin: 1em;
}

.Cart-Items {
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-box {
  text-align: center;
  width: 120px;
  height: 120px;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: block;
}

.about {
  height: 30%;
  margin: 0 1em;
  flex: 2;
}

.title {
  padding: 0.5em;
  margin: 0;
  font-size: 1.5em;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #202020;
}

.subtitle {
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #909090;
}

.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantitySigns {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}

.quantitySigns:active {
  background-color: #949494;
}

.count {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
}

.prices {
  text-align: right;
  align-self: center;
  padding: 0 3%;
}

.amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: "Open Sans";
  font-weight: 800;
  color: #202020;
}

.remove {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
}

.remove:hover {
  text-decoration: underline;
}

.remove:active {
  text-decoration: underline;
  color: #a12121;
}

hr {
  width: 60%;
  text-align: right;
  margin-right: 5%;
  background-color: black;
}

.checkout {
  float: right;
  margin: 0 5% 5% 0;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Subtotal {
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 700;
  color: #202020;
}

.items {
  font-size: 1em;
  font-family: "Open Sans";
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}

.total-amount {
  font-size: 2em;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
  margin-left: 30px;
}

.pad {
  margin-top: 1em;
}


@media screen and (max-width: 800px) {
  .conteudo2 {
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .image-box {
    display: none;
  }
}