.content p {
    font-family: Roboto, sans-serif;
    margin: 5vh 15vw;  
}

.content h2 {
    font-family: Roboto, sans-serif;
    color:rgb(31, 31, 31);
	font-size: 25px;
}

.content p:last-child {
    margin-bottom: 5em;
}